$color_main:#d6ab56;
$color_black:#222222;
$color_gray:#979797;
$color_tone:#ff7000;

$color_gold:#d6ab56;
$color_sub_gold:#cc9629;
// 视频主色
$color_tone:#ff7000;
// doki主色
$color_doki:#ff00a0;
// 主要文字
$color_t_1:#222222;
// 中灰文字
$color_t_2:#666666;
// 次要文字
$color_t_3:#979797;
// 中灰icon
$color_ci_1:#808080;
// 浅灰icon
$color_ci_2:#a3a3a3;
// 不可用icon
$color_ci_3:rgba(34, 34, 34, 0.2);

